# =======================
# Python .gitignore File
# =======================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
api_key.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/
.history/

# macOS & Windows
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
